html {
    line-height: normal;
}
body {
    background-color: #edeef0 !important;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
}


/*.content {
    width: 960px;
    margin: 0 auto;
}
*/

.navbar.navbar-default {
    background-color: #03a9f4;
}

.navbar.navbar-inverse {
    background-color: #3e3e3e;
}

.nav-header {
    margin: 0 auto;
}

.header {
    background-color: #03a9f4;
    margin: 0 auto;
}

.categories-header {
    background-color: #3e3e3e;
    margin-top: -20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.header .navbar-form>.search-bar {
    background-color: white;
    color: #03a9f4;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    margin-top: 0;
}

.form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#03a9f4), to(#03a9f4)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#03a9f4, #03a9f4), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#03a9f4, #03a9f4), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.search-bar .form-control::-moz-placeholder, .search-bar .form-group .form-control::-moz-placeholder {
    color: #03a9f4 !important;
    font-weight: 400;
}

.search-bar .form-control:-ms-input-placeholder, .search-bar .form-group .form-control:-ms-input-placeholder {
    color: #03a9f4 !important;
    font-weight: 400;
}

.search-bar .form-control::-webkit-input-placeholder, .search-bar .form-group .form-control::-webkit-input-placeholder {
    color: #03a9f4 !important;
    font-weight: 400;
}

.categories-menu {
    margin-top: 0px;
    background-color: white;
}

.categories-menu .categories-btn {
    background-color: white;
}

.slideshow {
    /*height: 300px;*/
    border: 1px solid #e3e4e8;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.slideshow img {
    width: 100%;
}

.layout {
    height: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
}

h2 {
    border-bottom: 1px solid #eee;
}

.card-title {
    padding-left: 10px;
}

.card .btn-raised {
    background-color: #03a9f4 !important;
    margin: 10px;
}

.footer {
    margin-top: 20px;
    background-color: #3e3e3e;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    /*margin-top: -180px;*/
    /* negative value of footer height */
    height: auto;
    clear: both;
}

.category-edit-container {
    position: relative;
    margin: 8px;
    z-index: 1;
    top: 0;
    right: 0;
}

.category-edit {
    padding: 7px 10px;
    background-color: #f44336;
    color: #fff;
}

.product-price-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.product-edit-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.product-price {
    padding: 7px 10px;
    background-color: #009be6;
    color: #fff;
}

.product-edit {
    padding: 7px 10px;
    background-color: #f44336;
    color: #fff;
}

.card {
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.card * {
    /*pointer-events: none;*/
}

.product-card {
    position: relative;
}

.btn-buy {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90%;
}


.card-container {
    margin-bottom: 15px;
    /*height: 277px;*/
}

.category-title {
    text-align: center;
    font-size: 16px;
    float: left;
}

.card-container:hover {
    /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);*/
}


.product-img {
    width: 100%;
    margin-top: 10px;
}

.product-img img {
    width: 100%;
}

.item-shipping-payment {
    float: right;
    padding: 10px;
    /*width: 300px;*/
    margin-bottom: 30px;
    background: #F6F9FA;
    border: 1px solid #DCECF5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item-shipping-payment .text-title {
    font-weight: bold;
}

a, a:focus, a:hover {
    /*color: #03a9f4;*/
}

.table-order-link {
    padding: 5px;
    vertical-align: text-top;
}

img.xzoom-gallery {
    width: 20%;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

xzoom-thumbs {
    background-color: gray;
    position: border-box;
}

.top-banner img {
    width: 100%;
}

.left-banner {
    position: absolute;
    left: -200px;
    top: 0;
    width: 300px;
    z-index: -1;
}

.right-banner {
    position: absolute;
    left: 1100px;
    top: 0;
    width: 300px;
    z-index: -1;
}

.fixed {
    position: fixed;
}

.left-banner img {
    width: 100%;
    z-index: -1
}

.right-banner img {
    width: 100%;
    z-index: -1
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 760px) {
    .navbar .navbar-brand {
        line-height: 50px;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
        line-height: 50px;
    }
    .categories-header {
        margin-left: -60px;
    }
}

@media (min-width: 992px) {
    .navbar-default {
        height: 80px;
    }
    .nav-header {
        width: 960px;
        margin: 0 auto;
    }
    /*    .content {
        width: 960px;
        margin: 0 auto;
    }
*/
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 80px;
        height: 100%;
    }
}

@media (max-width: 386px) {
    td, th {
        padding: 2px;
    }
}
@media (max-width: 1199px) {
    .navbar .navbar-form {
        /*margin-top: 16px;*/
        height: 80px;
    }
}

@media (max-width: 850px) {
    .categories-header {
        margin-left: 0;
    }
    .navbar-default .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 50px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.badge {
    background-color: #edeef0;
    color: #03a9f4;
}

.nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-pills>li {
    float: none;
}

.nav-categories li.active {
    background-color: black;
}

.nav-pills a {
    color: white;
}

.nav-pills a:hover {
    color: #3e3e3e;
}

.nav-pills .active {
    color: #3e3e3e;
}


/*//new styles*/


/*.dropdown-content li>a, .dropdown-content li>span {
    color: #039be5 !important;
}
*/

.dropdown-content li>a {
    color: #039be5;
}

.shopping-cart-badge {
    background-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: #039be5;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: Roboto, sans-serif;
    font-size: 11.6px;
    height: 22px;
    line-height: 22px;
    list-style-type: none;
    margin-left: -10px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-phone {
    margin-left: 160px;
}

.categories-header-2 {
    background-color: #3e3e3e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    height: 57px;
}

.categories-header-tabs {
    background-color: #3e3e3e;
    margin-top: 0;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.categories-header-tabs li {
    display: inline-block;
}

.categories-header-tabs ul {
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 56px;
}

.categories-header-2 a {
    color: white;
}

.category-tab a {
    display: block;
    line-height: 35px;
    white-space: nowrap;
    padding: 10px;
    margin-top: 0px;
}

.category-tab a:hover {
    background-color: black;
}

.card .card-content {
    height: 36px;
    padding: 10px;
}

.card .category-card {
    height: 40px;
}

.card .card-content p {
    color: black;
    font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.breadcrumbs {
    background-color: transparent;
}

.breadcrumb {
    color: black;
    font-size: 14px;
}

.breadcrumbs a:last-of-type {
    color: gray;
}

.breadcrumb:before {
    color: black;
    margin-top: -5px;
}

.btn, .btn:hover {
    background-color: #009be6;
}

.btn:hover {
    background-color: #4fc3f7;
}

.btn:focus {
    background-color: #009be6;
}

.submit-buttons {
    margin: 10px
}

.submit-buttons button {
    margin: 10px;
    
}

.input-field label.error {
    color: red;
    font-size: 0.9em;
}

.cart table tr:last-child {
    border-bottom: none;
}

ul.pagination li.active {
    background-color: #019be6;
}

.xzoom-preview {
    z-index: 100;
}

.slider {
    height: auto;
}

.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

[v-cloak] {
    display: none;
}


.shopping-card-remove-btn {
    color: red;
}

.modal-content {
    margin-top: 0px;
}

.modal .modal-footer {
    background-color: #fff;
}

#buy-it-guest, #flash-message  {
    max-width: 500px;
}

.cart .empty-text {
    color: #bdbdbd;
}

.cart .order-panel button {
    margin-left: 15px;
}


.sort-by-button {
    margin-top: 10px;
}

.rating-container {
    /* float: left; */
    margin: 0 auto;
}

.additional-container {
    margin: 10px;
}

.card .card-content p {
    word-wrap: break-word;
}

.divider {
    margin-bottom: 10px;
}

.row {
    margin-bottom: 10px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #039be5;
}

.clear-margin-bottom {
    margin-bottom: 0px;
}

.center-justified {
    text-align: justify;
}

.product-description {
    padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .layout {
        padding: 13px;
    }
    .product-price {
        padding: 2px 4px;
    }
    .row .products {
        padding: 2px;
    }
    .card-container {
        margin-bottom: -25px;
    }
    .card {
        box-shadow: none;
    }
    .card .card-content {
        padding: 2px;
    }
    .card .card-content {
        height: 22px;
    }
    .card .card-content p {
        text-align: center;
    }
    .divider {
        margin-bottom: 0px;
    }
    .category-card {
        margin-bottom: 27px;
    }
}

